---
const pageTitle = "IamLucaM. - Home"

import Layout from '../layouts/Layout.astro';
import MainTitle from '../components/MainTitle.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
import Progetti from '../components/HomeProgetti.astro'
import Post from '../components/HomePost.astro'
---

<Layout title={pageTitle} description="Sito web personale di Luca Mattioli">
	<main>
    <Hero />
    <Progetti />
    <Post />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100vw;
	}
</style>
