<div class="mx-auto w-75 justify-center flex my-10">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
    <div><a href="/privacy-policy">Privacy Policy</a></div>
    <div><a href="https://github.com/occhiodipesce/iamlucam" target="_blank" rel="noreferrer noopener">GitHub</a></div>
    <div><a href="https://www.linkedin.com/in/lmattioli96/" target="_blank" rel="noreferrer noopener nofollow">Linkedin</a></div>
    <div><a href="/rss.xml">Rss Feed</a></div>
    <!--<div><a href="#">Curriculum</a></div>-->
  </div>
</div>

<style>
  a {
    color: #262626;
    font-size: 0.75rem;
    font-weight: 800;
  }
</style>
