---
import PrimaryDescription from '../components/PrimaryDescription.astro'
---

<section>
    <div class="grid max-w-screen-xl items-center px-4 py-8 mx-auto grid-cols-12">
        <div class="mr-0 lg:mt-0 col-span-6 place-self-end">
            <img src="/img/luca2.png" alt="Hero image of Luca Mattioli website" class="h-96 object-cover">
        </div>                
        <div class="ml-0 col-span-6">
            <h2 class="text-5xl md:text-7xl lg:text-8xl hero-title">I <br> am <br> Luca <br> M. </h2>
        </div>
    </div>
    <div class="mt-10">
     <PrimaryDescription description="Sito web di Luca Mattioli"/> 
    </div>
</section>

<style>
  .hero-title {
    color: --yoru;
  }
</style>
