---
import Layout from '../layouts/Section.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<Layout title="Progetti" href="/projects/">
  <div class="grid w-100 px-4 py-8 grid-cols-12 md:gap-16">
    <ProjectCard href="https://m8nke.vercel.app" projectImage="https://res.cloudinary.com/dcsr1ibs2/image/upload/c_scale,w_auto/dpr_auto/q_auto/f_auto/v1678547019/IamLucaM/projects/monke/monke-cover.png" projectImageAlt="Copertina progetto musicale - Monke" projectTitle="Monke - Produzione musicale" projectDescription="Produzione e post produzione di audio, canzoni e beat" />
    <ProjectCard href="/projects/fgadocs" projectImage="https://res.cloudinary.com/dcsr1ibs2/image/upload/c_scale,w_auto/dpr_auto/q_auto/f_auto/v1678547019/IamLucaM/projects/fgadocs/fgadocs-cover.jpg" projectImageAlt="Copertina documentazione sito internet del festival dei giovani dell'Appennino" projectTitle="Docs - FGA" projectDescription="Guida rivolta agli autori del sito web festivalgiovaniappennino.it" />
  </div>
</Layout>
